body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
}
#navBar{
  margin: 0;
  height: 100%;
  z-index: 1;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  background-color: rgba(255, 100, 102, 0.30);
  box-shadow: 3px 0px 3px rgba(133,133,133,0.60);
}
#navBar ul{
  list-style-type: none;
  text-align: right;
}
#navBar ul a:link{
  color: white;
  text-decoration: none;
  transition: 0.35s;
}
#navBar ul a:hover{
  background-color: rgba(255, 192, 203, 0.67);
  color: white;
  text-decoration: : none;
  transition : 0.25s;
}
#navBar ul a:visited{
  color: rgba(255, 255, 255, 0.6);
  text-decoration: : none;
}
#navBar ul a{
  background-color: rgba(255, 88, 117, 0.72);
}
#navBar ul li{
  margin-bottom: 10px;
  font-size: 15px;
}
#navBar ul li.active a{
  border-bottom: 2px solid rgb(255, 255, 255);
}
#navBar h3{
  color: white;
  margin-bottom: 200px;
  margin-top: 50px;
}
#contents{
  /* background-color: rgba(255, 255, 255, 0.50); */
  float: right;
  z-index: 0;
  text-align: justify;
  height: 100%;
  padding-left: 50px;
}
.affix{
  top: 0px;
}





footer{
  font-family: "lucida console", monospace;
  height: 250px;
  background-color: rgba(255,255,255,0.7);
  color: white;
  width: 100%;
  display: inline-block;
  margin-left: 16.67%;
}
footer div{
  color: white;
  /* background-color: rgb(20,20,20); */
  padding-top: 10px;
  width: 100%;
  align-content: center;  
}
footer ul{
  font-size: 12px;
  list-style-type: none;
  color: white;
  float: left;
}
footer ul li{
  padding-top: 10px;
}
footer div img{
	width: 50px;
	height: 50px;
	float: left;
}


.form-control {
    width: 100%;
    height: 38px;
    padding: 16px 30px;
    font-size: 20px;
}
#Box {
  position:relative;
  height:20px;
}
/* for main.html */
#Title {
  float:left;
  width:138px;
  height:14px;
  padding:3px;
  background-color:ACA8AD;
}
#Title a {
	height:16px;
	color:black;
	font-size:20px;
	padding:13px;
	text-decoration:none;
}
#Content1 {
  clear:left;
  float:left;
  font-size:30px;
}
#Content2 {
  font-size:22px;
}
#Content3 {
  font-size:15px;
}
#Menu {
  width: 100%;
  height: 70px;
	float:left;
  padding:5px;
  background-color:rgba(213, 97, 97, 0.60);
  padding: 20px;
}
#Menu ul li {
	float:left;
	list-style-type:none;
}
#Menu a {
	height:2px;
	color:black;
	font-size:20px;
	padding:15px;
	text-decoration:none;
}
#Menu ul ul {
	display:none;
	position:absolute;
	background-color:gray;
}
#Menu ul li:hover ul {
	display: block;
}
#main_social{
  float: left;
}
#main_best{
  margin-top: 30px;
  width: 75%;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px rgba(133,133,133,0.60);
  padding: 20px;
}
/* end of main */

#review_table{
  background-color: #ffffff;
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 10%;
  margin-buttom: 30px;
  box-shadow: 3px 3px 3px rgba(133,133,133,0.60);
  text-align: left;
  padding: 10px;
}
